.varsDark() {
    BG-0: #191919;
    BG-1: #1f1f1f;
    BG-2: #232323;
    BG-3: #2f2f2f;
    BG-4: #606060;
    BG-5: #2c2c2c;
    FG-0: rgba(255, 255, 255, 0.8);
    FG-HALF: rgba(255, 255, 255, 0.6);
    FG-1: rgba(255, 255, 255, 0.5);
    FG-2: rgba(255, 255, 255, 0.3);
    FG-3: rgba(255, 255, 255, 0.05);
    RED: #fa5151;
    ORANGE: #c87d2f;
    YELLOW: #cc9c00;
    GREEN: #74a800;
    LIGHTGREEN: #28b561;
    BRAND: #07c160;
    BLUE: #10aeff;
    INDIGO: #1196ff;
    PURPLE: #8183ff;
    WHITE: rgba(255, 255, 255, 0.8);
    LINK: #7d90a9;
    TEXTGREEN: #259c5c;
    FG: white;
    BG: black;
    TAG-TEXT-ORANGE: rgba(250, 157, 59, 0.6);
    TAG-BACKGROUND-ORANGE: rgba(250, 157, 59, 0.1);
    TAG-TEXT-GREEN: rgba(6, 174, 86, 0.6);
    TAG-BACKGROUND-GREEN: rgba(6, 174, 86, 0.1);
    TAG-TEXT-BLUE: rgba(16, 174, 255, 0.6);
    TAG-BACKGROUND-BLUE: rgba(16, 174, 255, 0.1);
    TAG-TEXT-BLACK: rgba(255, 255, 255, 0.5);
    TAG-BACKGROUND-BLACK: rgba(255, 255, 255, 0.05);
};
